:root {
  --custom-horizontal-margin: 10vw;
  --custom-vertical-margin: 5vh;
}
html {
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 2rem;
}
h1.category-title {
  text-align: center;
}
tr {
  height: 70px;
}

img {
  /* max-width: 100%; */
  height: auto;
  width: auto;
}

.flex-container {
  display: flex;
}

.base {
  width: 100vw;
  height: 90vh;
  margin: auto;
  /* border: 2px solid #000; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1px;
}

.scaler {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(0);
}

.section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* padding: 30px; */
  /* background: #f00; */
  position: absolute;
  /* position: relative; */
  top: 0;
  left: 0;
}

.section-1 {
  /* background: #f00; */
  position: absolute;
}

.hidari {
  position: absolute;
  background: #f00;
  width: 35vw;
  height: 80vh;
  left: var(--custom-horizontal-margin);
  top: var(--custom-vertical-margin);
}
.migi {
  position: absolute;
  background: #f00;
  width: 35vw;
  height: 80vh;
  right: var(--custom-horizontal-margin);
  top: var(--custom-vertical-margin);
}
.ue {
  position: absolute;
  background: #f00;
  width: 60vw;
  height: 20vh;
  top: var(--custom-vertical-margin);
  left: 20vw;
}

.section-1{
    /* padding: 5%; */
}
.section-1 .hidari {
    background-color: transparent;
    /* text-align:end; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.section-1 .migi {
    background-color: transparent;
}
.section-1 .ue {
    background-color: transparent;
}
.section-1 img {
    height: 80%;

}
.profile-img {
    
}

.section-2 {
  /* background: #0f0; */
  
}
.section-2 .hidari{
  /* background: #0f0; */
  width: 30vw;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  
}
.section-3 {
  /* background: #00f; */
}
.section-4 {
  /* background: #ff0; */
}
.section-5 {
  /* background: #0ff; */
}
.lang-name{
    /* font-size:  */
}
.lang-logo{
  height: 100px;
}
.lang-logo-table{
  width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.scroll {
  visibility: hidden;
  z-index: -1;
}
